.gitignore
.htaccess
Gruntfile.js
index.php
.php_cs
LICENSE_AFL.txt
composer.lock
LICENSE.txt
composer.json
package.json
CONTRIBUTOR_LICENSE_AGREEMENT.html
CHANGELOG.md
CONTRIBUTING.md
dev
bin
lib
phpserver
pub
setup
var
vendor
app/design
app/etc
app/i18n
app/autoload.php
app/bootstrap.php
app/functions.php
app/code/Magento/
!i18n/it_IT.csv
!/i18n/it_IT.csv
!app/code/Magento/AdminNotification/i18n/it_IT.csv
!it_IT.csvg