.gitignore
.htaccess
Gruntfile.js
index.php
.php_cs
LICENSE_AFL.txt
composer.lock
LICENSE.txt
composer.json
package.json
CONTRIBUTOR_LICENSE_AGREEMENT.html
CHANGELOG.md
CONTRIBUTING.md
README.md
*.php
.directory
*.css
*.phtml
en_US.csv
es_ES.csv
fr_FR.csv
de_DE.csv
nl_NL.csv
pt_BR.csv
zh_CN.csv
dev
bin
phpserver
pub
setup
var
vendor
app/etc
app/autoload.php
app/bootstrap.php
app/functions.php
app/code/Magento/**/Api
app/code/Magento/**/App
app/code/Magento/**/Block
app/code/Magento/**/Controller
app/code/Magento/**/Console
app/code/Magento/**/Component
app/code/Magento/**/CustomerData
app/code/Magento/**/DataProvider
app/code/Magento/**/etc
app/code/Magento/**/Exception.php
app/code/Magento/**/Helper
app/code/Magento/**/Model
app/code/Magento/**/Observer
app/code/Magento/**/Plugin
app/code/Magento/**/Pricing
app/code/Magento/**/Setup
app/code/Magento/**/Service
app/code/Magento/**/TemplateEngine
app/code/Magento/**/Test
app/code/Magento/**/View
app/code/Magento/**/view
app/code/Magento/**/i18n/de_DE.csv
app/code/Magento/**/i18n/en_US.csv
app/code/Magento/**/i18n/fr_FR.csv
app/code/Magento/**/i18n/es_ES.csv
app/code/Magento/**/i18n/nl_NL.csv
app/code/Magento/**/i18n/pt_BR.csv
app/code/Magento/**/i18n/zh_CN.csv
app/design/adminhtml
app/design/frontend/**/etc
app/design/frontend/**/email
app/design/frontend/**/media
app/design/frontend/**/web
app/design/frontend/**/*.xml
app/design/frontend/**/*.xml
app/i18n/magento/de_de
app/i18n/magento/en_us
app/i18n/magento/es_es
app/i18n/magento/fr_fr
app/i18n/magento/nl_nl
app/i18n/magento/pt_br
app/i18n/magento/zh_cn
!app/i18n/magento/it_it
!app/i18n/magento/it_it/composer.json
!app/i18n/magento/it_it/language.xml
!app/i18n/magento/it_it/license.txt
!app/i18n/magento/it_it/LICENSE_AFL.txt
lib/internal
lib/web/*
!lib/web/i18n
!i18n
!it_IT.csv
!it_it.csv